<!DOCTYPE html>
<html>
<head>
    <title>{{{pageTitle}}}</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">We provide amazing services to our customers.</p>
            <hr class="my-4">
            <p>Learn more about what we do and how we can help you.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
        </div>
    </div>
</body>
</html>