<!DOCTYPE html>
<html>
<head>
    <title>About</title>
</head>
<body>
    <h1 class="text-red-300 text-3xl">Welcome to My Page</h1>
    <p>This is About Page</p>

    <button class="px-2 bg-primary">
        Click me
    </button>
</body>
</html>